.top-name {
  margin-bottom: 10px;
  padding-bottom: 45px;
  font-size: 49px;
  text-align: center;
  width: 415px;
  background-color: #000;
  opacity: .7;
  color:white;
  padding-top: 23px;
}

.col{
  all: unset;
  padding: 5px 10px;
  border-radius: 4px;
}

.row-btn {
  text-align: center;
  color:white;
}
.tile {
  text-align: end;
  margin-right: 20px;
  padding-top: 20px;
  font-size: 40px;
  
}

.flex-container {
  display: flex;
}

aside {
  background-color: #000;
  opacity: .8;
  color:white;
  padding: 20px;
  margin: 20px auto;
  margin-right: 10px;
  margin-left: 10px; 
}

.info-card {
  flex: 1;
  width: 300px;
  background-color: #000;
  opacity: .8;
  color:white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  margin-right: 10px;
  margin-left: 10px;
}

.img-card {
  flex: 1;
  width: 300px;
  background-color: #000;
  opacity: .8;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  margin-right: 10px;
  text-align: center;
}
body{
  background-image: url(https://images3.alphacoders.com/132/1322308.jpeg);
  background-repeat: no-repeat;
   background-size: cover;
  background-position: center bottom;
  position: relative;
}

ul li {
    margin-bottom: 10px; 
  }
  
.list {
  list-style-type: square;
}
.info {
  text-align: center;
  font-size: 45px;
}
.footer{
  background-color: #000;
  opacity: .8;
  color:white;
  border-radius: 5px;
  margin: 20px auto;
}
.style-button {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}